<footer class="bg-white shadow-md py-4">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-4">
        <div class="text-gray-600 mb-4 md:mb-0">
            &copy; <%= new Date().getFullYear() %> coderSTATS🎯. All rights reserved.
        </div>
        <div class="nav-links">
            <ul class="flex flex-wrap justify-center md:justify-end">
                <li class="mx-2"><a href="/privacy" class="text-gray-600 hover:text-gray-800">Privacy Policy</a></li>
                <li class="mx-2"><a href="/terms" class="text-gray-600 hover:text-gray-800">Terms of Service</a></li>
                <li class="mx-2"><a href="/contact" class="text-gray-600 hover:text-gray-800">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>
