.responsive-font-size {
  font-size: 1.5vw;
}
.hidden {
    display: none;
}

.content-container {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #3182ce;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3182ce;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 640px) {
    header h1, footer {
        font-size: 1rem;
    }
}
#lamba{
    height: max-content;
}
.bg-apna{
    background-color: #00111d;
}

    @media (max-width: 767px) {
        .nav-links {
            display: none;
        }
        .nav-links.active {
            display: block;
        }
    }

